#um{
    background-color: blue;
}

#container{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 15px;
}

#formularioum{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 15px;
}

